.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 20px;
  width: 130px;
}

.progress-done {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  border-radius: 20px;
  height: 20px;
  width: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  transition: 1s ease 0.3s;
}
