

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background:transparent;
    border-color:var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    /* margin-bottom: 0.5rem; */
}
/* .contact__option h4 {



} */

.contact__option a {
    color: white;
    background-color: var(--color-primary-variant);
    margin-top: 0.7rem;
    padding: .6rem 1rem;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 6px;
}
.contact__option a:hover {
    background:var(--color-primary);
}


/* ======================= FORM  ===================== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-family: monospace, "Montserrat", sans-serif;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-family: monospace, "Montserrat", sans-serif;
    font-size: 1rem;
}


/* ======================= MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .contact__options{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
  }
  
  /* ======================= MEDIA QUERIES (SMALL  DEVICES) =================== */
  @media screen and (max-width: 600px) {
    .container.contact__container {
     width: var(--container-width-sm);
    }

    .contact__options{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
  }