@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__container > h1,
.header__container > h3 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  font-weight: 500;
}

/* fallback for IE */
.gradient-text {
  color: inherit;
}

/* gradient text for modern browsers */
@supports (background-clip: text) {
  .gradient-text {
    background-image: linear-gradient(#63a4ff 0%, #83eaf1 74%);
    background-clip: text;
    color: transparent;
  }
}

.header__container h3 {
  font-size: 1.5rem;
}

.header__container .text-light {
  font-family: monospace, 'Montserrat', sans-serif;
  font-size: larger;
}

/* ======================  CTA ====================== */
.cta {
  margin-top: 25rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ====================== HEADER SOCIALS ======================= */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ====================== ME =========================*/
.me {
  width: 22rem;
  height: 22rem;
  margin: 0 auto;
  left: calc(50% - 11rem);
  margin-top: 2rem;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

/* ===================== SCROLL DOWN ====================== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ======================= MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
  header {
    height: 75vh;
    padding-top: 6rem;
  }
}

/* ======================= MEDIA QUERIES (SMALL  DEVICES) =================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 2.5rem;
  }

  .header__socials {
    font-size: 1.4rem;
    flex-direction: row;
    position: static;
    gap: 1.3rem;
    margin: 2rem 0 0 9.5rem;
  }

  .header__socials::after {
    display: none;
  }

  .scroll__down {
    display: none;
  }

  .cta {
    margin-top: 2rem;
  }
}
